.debris/
ada-api/adaApi-0.0.1.jar
ada-front/ada.tar.gz
oracle-xe/u01/
postgres/data/
rabbitmq-server/rabbitmq-data/
mongodb/mongodb/
kafka/data/
kafka/cmak-3.0.0.5.zip
mariadb/mysql/
mysql/mysql/
jenkins/jenkins_home/
sonar/postgresql/
sonar/sonarqube/
tomcat/conf/
tomcat/webapps/
kafka-ssl/data/
kafka-ssl/cmak-3.0.0.5.zip
